body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	background-color: lightgray !important;
}

body,html,#root
{
  height:100%;
}

.btn
{
  background-color:white;
}

.btn-lg {
  height: 100px;
  width: 100px;
  font-size: 1rem !important;
  white-space: normal !important;
  border-radius: 1rem !important;
  text-align: left !important;
	padding: 0.5rem 2rem !important;
}

.btn-lg .mdi::before {
  font-size: 24px !important;
  line-height: 24px !important;
  position: absolute;
  top: 10px;
  left: 10px;
}

.btn-success .mdi-lightbulb-outline:before
{
	content:'\f6e8';
}

.bottom
{
	bottom: 0;
}

.btn-danger .mdi-garage:before
{
  content: "\f6d9";
}

.autoClose
{
	color:white;
}

.garageTemp
{
	border-radius: .5rem;
	color:white;
	right: .5rem;
	top: .5rem;
}

.header
{
	background-color:#69d040;
	height:60px;
}