body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	background-color: lightgray !important;
	background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

.light_slider
{
	background-color: rgba(255,255,255,.7);
	border-radius: 1rem;
}

body,html,#root
{
  height:100%;
}

.btn-lg {
  height: 115px;
  width: 115px;
  font-size: 1rem !important;
  white-space: normal !important;
  border-radius: .75rem !important;
  text-align: left !important;
  padding: 0.5rem 2rem !important;
  background-color:rgba(255,255,255,.5);
  color:rgba(0,0,0, .6);
}

.btn-lg .mdi {
  font-size: 32px !important;
  line-height: 32px !important;
  position: absolute;
  top: .5rem;
  left: .5rem;
}

.mdi-dots-horizontal
{
	right:0 !important;
	top:0 !important;
	width:50px;
	height:50px;
	left:auto !important;
	opacity:.3;
}

.mdi-dots-horizontal::before
{
	position: absolute;
	right:.5rem;
	top:.5rem;
}

.mdi-lightbulb-outline, .mdi-clock, .mdi-garage, .mdi-weather-night, .mdi-calendar
{
	color: rgba(0,0,0,.3);
}

.btn-danger .mdi-garage
{
	color:#fff;
}

.btn-success
{
	background-color:rgba(255,255,255,.9) !important;
	border-color:rgba(255,255,255,.9) !important;
	color: #212529 !important;
}

.btn-danger
{
	background-color: #dc3545;
}

.btn-success .mdi-lightbulb-outline:before
{
	content:'\f6e8';
}

.mdi-lightbulb-outline.mdi-lock-outline:before
{
	content: '\F341';
	color:#dc3545;
}

.btn-success .mdi-lightbulb-outline.mdi-lock-outline:before
{
	content: '\f33e';
}

.btn-success .mdi-lightbulb-outline
{
	color: rgb(248,204,70);
}

.bottom
{
	bottom: 0;
}

.btn-danger .mdi-garage:before
{
  content: "\f6d9";
}

.autoClose
{
	color:white;
}

.temp-display
{
	border-radius: .5rem;
	color:white;
	right: .5rem;
	top: .5rem;
	min-width:35px;
}

.currentTemp
{
	color: rgba(0,0,0,.8);
	font-size: .80rem;
	line-height: 1.3;
}

.point-events-none
{
	pointer-events: none;
}

.disabled
{
	pointer-events: none;
	opacity:.4;
}

.header
{
	background-color: rgba(255,255,255,.2);
	background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
	height:60px;
	width:100%;
	color:#fff;
	position:fixed;
	z-index: 2;
}

.sub-header
{
	background-color: rgba(255,255,255,.2);
}

.room-content
{
	padding-top:70px !important;
}

.btn-success .mdi-dots-horizontal:before, .hide
{
	opacity:0;
}

.header-temperature
{
	display:inline;
	font-weight: bold;
	opacity:.5;
}

.btn-success .temp-display, .total-lights-bg
{
	background-color: rgba(0,0,0,.3);
}

.inFront
{
	z-index: 1;
}

.slider-horizontal
{
	width:90% !important;
}

.z-index-1
{
	z-index: 1;
}

.flex-grow-1
{
	flex-grow: 1;
}

.slider-handle
{
	transform: scale(1.6);
}

.h32
{
	height:32px;
}

.btn
{
	transition: .5s;
}

.LoadingStatus
{
	top:0;
	bottom:0;
	left:0;
	right:0;
	color:#28a745;
	background-color:white;
}

.total-lights-bg
{
	min-width: 22px !important;
	display:flex;
	justify-content: center;
}

.danger
{
	color:#dc3545;
	font-weight: 700;
}

.sk-spinner
{
	width:30px;
}

.authText
{
	max-width:125px;
}

.security
{
	width:100%;
	height:960px;
	border:0;
}

.thermostat-content
{
	background-color:rgba(248, 249, 250, .34);
}
/*

.slider-handle:active
{
	background-color: #1f24b7 !important;
	background-image: linear-gradient(to bottom,#149bdf 0,#1f24b7 100%);
}*/
